div.title img
{
    width: 128px;
    height: 128px;
}

div.title h1
{
    padding-top: 40px;
}

body.browser-action
{
    width:450px;
    margin: 10px;
    position: relative;
}

.input-group
{
    margin-bottom: 5px;
}

.summary
{
    padding: 5px;
}