<div class="summary">{{"notification_summary"|translate}}</div>
<hr />
<div class="control-group">
  <div class="controls">
    <label for="message_notification" class="checkbox">
      <input name="message_notification" type="checkbox" ng-model="options.enableMessageNotification" /> {{"enable_message_notification"|translate}}
    </label>
  </div>
</div>
<div class="control-group">
  <div class="controls">
    <label for="crawler_notification" class="checkbox">
      <input name="crawler_notification" type="checkbox" ng-model="options.enableCrawlerNotification" /> {{"enable_crawler_notification"|translate}}
    </label>
  </div>
</div>
<div class="control-group">
  <div class="controls">
    <label for="news_notification" class="checkbox">
      <input name="news_notification" type="checkbox" disabled="disabled" ng-model="options.enableNewsNotification" /> {{"enable_news_notification"|translate}}
    </label>
  </div>
</div>
