<!DOCTYPE HTML>
<html ng-app="yacy">
  <head>
    <title>{{"yacy_name"|translate}} toolbar</title>
    <link rel="stylesheet" href="/app/bower_components/bootstrap-css/css/bootstrap.min.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/app/css/main.css" type="text/css" media="screen" />
    <script type="text/javascript" src="/app/bower_components/uri.js/src/URI.min.js"></script>
    <script type="text/javascript" src="/app/bower_components/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/app/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/app/bower_components/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="/app/bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="/app/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="/app/bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="/app/js/app.js"></script>
    <script src="/app/js/services.js"></script>
    <script src="/app/js/controllers.js"></script>
    <script src="/app/js/filters.js"></script>
    <script src="/app/js/directives.js"></script>
  </head>
  <body>
    <div ng-controller="BrowserActionCtrl" class="row" ng-init="init();">
      <form name="form" novalidate class="form-horizontal col-md-5">
        <fieldset>
          <legend>{{"blacklist_page"|translate}}</legend>
          <div class="input-group">
            <div class="btn-group">
              <button class="btn" tabindex="-1">{{"submit"|translate}}</button>
              <button class="btn dropdown-toggle" data-toggle="dropdown" tabindex="-1">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#" ng-click="resetBlacklist();">{{"reset"|translate}}</a></li>
                <li class="divider"></li>
                <li><a href="#" ng-click="filterDomain();">{{"filter_domain"|translate}}</a></li>
                <li class="divider"></li>
                <li><a href="#" ng-click="filterSubDomain();">{{"filter_sub_domain"|translate}}</a></li>
              </ul>
            </div>
            <input name="blacklisted_url" type="text" ng-model="blacklistUrl"/>
          </div>
        </fieldset>
        <fieldset>
          <legend>{{"crawl_page"|translate}}</legend>
          <div class="input-group">
            <div class="btn-group">
              <button class="btn" tabindex="-1">{{"submit"|translate}}</button>
              <button class="btn dropdown-toggle" data-toggle="dropdown" tabindex="-1">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#" ng-click="resetCrawl();">{{"reset"|translate}}</a></li>
              </ul>
            </div>
            <input name="crawled_url" type="text" ng-model="crawlUrl"/>
            <div class="btn-group">
              <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#crawling_options">{{"options"|translate}}</button>
            </div>
          </div>
          <div id="crawling_options" class="collapse" ng-controller="OptionsCtrl" ng-init="init();" ng-include="'/app/partials/quick_crawl_options.html'">
          </div>
        </fieldset>
      </form>
    </div>
  </body>
</head>
