<!DOCTYPE HTML>
<html ng-app="yacy">
  <head>
    <title>{{"yacy_name"|translate}} toolbar</title>
    <link rel="stylesheet" href="/app/bower_components/bootstrap-css/css/bootstrap.min.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/app/css/main.css" type="text/css" media="screen" />
    <script type="text/javascript" src="/app/bower_components/uri.js/src/URI.min.js"></script>
    <script type="text/javascript" src="/app/bower_components/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/app/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/app/bower_components/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="/app/bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="/app/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="/app/bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="/app/js/app.js"></script>
    <script src="/app/js/services.js"></script>
    <script src="/app/js/controllers.js"></script>
    <script src="/app/js/filters.js"></script>
    <script src="/app/js/directives.js"></script>
  </head>
  <body class="browser-action col-sm-8">
    <div ng-controller="BrowserActionCtrl" class="row container" ng-init="init();">
      <form name="form" novalidate role="form">
        <fieldset>
          <legend>{{"blacklist_page"|translate}}</legend>
          <div class="row">
            <div class="input-group">
              <div class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="submitBlacklist();">{{"submit"|translate}}</button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#" ng-click="resetBlacklist();">{{"reset"|translate}}</a></li>
                  <li class="divider"></li>
                  <li><a href="#" ng-click="filterDomain();">{{"filter_domain"|translate}}</a></li>
                  <li class="divider"></li>
                  <li><a href="#" ng-click="filterSubDomain();">{{"filter_sub_domain"|translate}}</a></li>
                </ul>
              </div>
              <input name="blacklisted_url" type="text" class="input-large form-control" ng-model="blacklistUrl" />
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <legend>{{"crawl_page"|translate}}</legend>
          <div class="row">
            <div class="input-group">
              <div class="input-group-btn">
                <button type="button" class="btn btn-default">{{"submit"|translate}}</button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-click="submitCrawl();"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#" ng-click="resetCrawl();">{{"reset"|translate}}</a></li>
                </ul>
              </div>
              <input name="crawled_url" type="text" class="input-large form-control" ng-model="crawlUrl"/>
              <div class="input-group-btn">
                <button type="button" class="btn btn-primary dropdown-toggle" ng-click="isCollapsed = !isCollapsed" data-toggle="dropdown" data-target="#crawling_options">{{"options"|translate}}</button>
              </div>
            </div>
          </div>
          <div collapse="!isCollapsed">
            <hr />
            <div id="crawling_options" ng-controller="OptionsCtrl" ng-init="init();" ng-include="'/app/partials/quick_crawl_options.html'"></div>
          </div>
        </fieldset>
      </form>
    </div>
  </body>
</head>
